.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Epilogue', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.375rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #21bf54 !important;
}
.bg-warning {
  background-color: #ff9966 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #21bf54 !important;
  border-color: #21bf54 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #147533 !important;
  border-color: #147533 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #147533 !important;
  border-color: #147533 !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: #d4d4d4 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #21bf54;
  color: #21bf54;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #147533 !important;
  background-color: transparent!important;
  border-color: #147533 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #21bf54 !important;
  border-color: #21bf54 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #000000 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #21bf54 !important;
}
.text-warning {
  color: #ff9966 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #cccccc !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #12682e !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ff5500 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ffffff;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #21bf54;
}
.alert-warning {
  background-color: #ff9966;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #78e89c;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffffff !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #ffffff;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #000000 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tdpiG42M25 {
  z-index: 1000;
  width: 100%;
}
.cid-tdpiG42M25 nav.navbar {
  position: fixed;
}
.cid-tdpiG42M25 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tdpiG42M25 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tdpiG42M25 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tdpiG42M25 .dropdown-item:hover,
.cid-tdpiG42M25 .dropdown-item:focus {
  background: #ffffff !important;
  color: white !important;
}
.cid-tdpiG42M25 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tdpiG42M25 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tdpiG42M25 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tdpiG42M25 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tdpiG42M25 .nav-link {
  position: relative;
}
.cid-tdpiG42M25 .container {
  display: flex;
  margin: auto;
}
.cid-tdpiG42M25 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tdpiG42M25 .dropdown-menu,
.cid-tdpiG42M25 .navbar.opened {
  background: #353535 !important;
}
.cid-tdpiG42M25 .nav-item:focus,
.cid-tdpiG42M25 .nav-link:focus {
  outline: none;
}
.cid-tdpiG42M25 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tdpiG42M25 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tdpiG42M25 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tdpiG42M25 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tdpiG42M25 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tdpiG42M25 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tdpiG42M25 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(53, 53, 53, 0);
}
.cid-tdpiG42M25 .navbar.opened {
  transition: all 0.3s;
}
.cid-tdpiG42M25 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tdpiG42M25 .navbar .navbar-logo img {
  width: auto;
}
.cid-tdpiG42M25 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tdpiG42M25 .navbar.collapsed {
  justify-content: center;
}
.cid-tdpiG42M25 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tdpiG42M25 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tdpiG42M25 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 8rem);
  }
}
.cid-tdpiG42M25 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tdpiG42M25 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tdpiG42M25 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tdpiG42M25 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tdpiG42M25 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tdpiG42M25 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tdpiG42M25 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tdpiG42M25 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tdpiG42M25 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tdpiG42M25 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tdpiG42M25 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tdpiG42M25 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tdpiG42M25 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tdpiG42M25 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tdpiG42M25 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tdpiG42M25 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tdpiG42M25 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tdpiG42M25 .navbar.navbar-short {
  min-height: 60px;
}
.cid-tdpiG42M25 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tdpiG42M25 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tdpiG42M25 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tdpiG42M25 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tdpiG42M25 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tdpiG42M25 .dropdown-item.active,
.cid-tdpiG42M25 .dropdown-item:active {
  background-color: transparent;
}
.cid-tdpiG42M25 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tdpiG42M25 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tdpiG42M25 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tdpiG42M25 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #353535;
}
.cid-tdpiG42M25 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tdpiG42M25 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tdpiG42M25 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tdpiG42M25 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tdpiG42M25 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tdpiG42M25 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tdpiG42M25 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tdpiG42M25 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tdpiG42M25 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tdpiG42M25 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tdpiG42M25 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tdpiG42M25 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tdpiG42M25 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tdpiG42M25 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tdpiG42M25 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tdpiG42M25 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tdpiG42M25 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tdpiG42M25 .navbar {
    height: 70px;
  }
  .cid-tdpiG42M25 .navbar.opened {
    height: auto;
  }
  .cid-tdpiG42M25 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-ti1aLaiWyS {
  background-image: url("../../../assets/images/fo7200aefec47-1-2000x1414.png");
}
.cid-ti1aLaiWyS .mbr-text,
.cid-ti1aLaiWyS .mbr-section-btn {
  color: #bbbbbb;
  text-align: left;
}
.cid-ti1aLaiWyS .mbr-section-btn {
  padding-bottom: 8rem;
}
.cid-ti1aLaiWyS .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-ti1aLaiWyS .mbr-iconfont {
  color: #ffffff;
  font-size: 1.2rem;
  transition: all 0.3s;
}
.cid-ti1aLaiWyS .icons-wrapper {
  position: absolute;
  display: flex;
  bottom: 4rem;
  width: fit-content;
  left: 4rem;
}
@media (max-width: 767px) {
  .cid-ti1aLaiWyS .icons-wrapper {
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.cid-ti1aLaiWyS .icon-wrapper {
  position: relative;
  width: 35px;
  cursor: pointer;
  margin: 0 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}
.cid-ti1aLaiWyS .icon-wrapper:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-ti1aLaiWyS .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-ti32zE6TTi {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #353535;
}
.cid-ti32zE6TTi .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-ti32zE6TTi .team-card:hover {
  transform: translateY(-10px);
}
.cid-ti32zE6TTi img {
  transform: scale(1.1);
  transition: all 0.3s;
}
.cid-ti32zE6TTi .image-wrap {
  overflow: hidden;
  width: 50%;
}
@media (max-width: 767px) {
  .cid-ti32zE6TTi .image-wrap {
    width: 100%;
  }
}
.cid-ti32zE6TTi .icon-plus {
  font-size: 1rem;
  color: currentColor;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  transition: all 0.3s;
}
.cid-ti32zE6TTi .line {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translate(-50%);
  width: 25px;
  height: 5px;
  background: #ffd96a;
  z-index: 10;
}
@media (max-width: 767px) {
  .cid-ti32zE6TTi .line {
    display: none;
  }
}
.cid-ti32zE6TTi .container {
  max-width: 1400px;
}
@media (min-width: 767px) {
  .cid-ti32zE6TTi .container {
    padding: 0 3rem;
  }
}
.cid-ti32zE6TTi .content-wrap {
  padding: 2rem;
}
.cid-ti32zE6TTi .icon {
  font-size: 2.5rem;
  color: currentColor;
  padding-bottom: 1rem;
  display: block;
}
.cid-ti32zE6TTi .card1 {
  background: #ff9966;
  padding: 0;
}
.cid-ti32zE6TTi .card2 {
  background: #183737;
  padding: 0;
}
.cid-ti32zE6TTi .card3 {
  background: #000000;
  padding: 0;
}
.cid-ti32zE6TTi .card4 {
  background: #59bb93;
  padding: 0;
}
.cid-ti32zE6TTi .card-wrap {
  position: relative;
  display: flex;
}
@media (max-width: 767px) {
  .cid-ti32zE6TTi .card-wrap {
    flex-direction: column;
  }
}
.cid-ti32zE6TTi .card-wrap:hover img {
  transform: scale(1);
}
.cid-ti32zE6TTi .card-wrap:hover .icon-plus {
  transform: rotate(90deg);
  transform-origin: center;
}
.cid-ti32zE6TTi .card-wrap .image-wrap img {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-ti32zE6TTi .content-wrap {
    padding: 4rem 1rem;
    text-align: center;
  }
}
.cid-ti32zE6TTi .card-title,
.cid-ti32zE6TTi .icon,
.cid-ti32zE6TTi .icon-plus {
  color: #ffffff;
}
.cid-ti32zE6TTi .mbr-role {
  color: #ffffff;
}
.cid-ti32zE6TTi .mbr-fallback-image.disabled {
  display: none;
}
.cid-ti32zE6TTi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ti32zE6TTi .mbr-role DIV {
  text-align: left;
}
.cid-sY2jSjWXlu {
  padding-top: 30px;
  padding-bottom: 195px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.cid-sY2jSjWXlu svg {
  position: absolute;
  bottom: -9.5rem;
  left: 50%;
  transform: translate(-50%) scaleX(-2) rotate(-12deg);
  filter: fliph;
  animation: wave2 5s ease-in-out infinite;
}
@keyframes wave2 {
  from {
    transform: translate(-50%) scaleX(-2) rotate(-10deg);
  }
  50% {
    transform: translate(-50%) scaleX(-2.2) scaleY(1.1) rotate(-13deg);
  }
  to {
    transform: translate(-50%) scaleX(-2) rotate(-10deg);
  }
}
.cid-sY2jSjWXlu #e12_areaS3 {
  fill: #ffffff !important;
}
.cid-sY2jSjWXlu #e19_areaS3 {
  fill: #232323 !important;
}
.cid-sY2jSjWXlu .carousel-control {
  background: #000;
  opacity: 0.2;
}
.cid-sY2jSjWXlu .carousel {
  width: 80%;
  margin: auto;
}
.cid-sY2jSjWXlu .mbr-section-subtitle {
  color: #716c80;
}
.cid-sY2jSjWXlu .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sY2jSjWXlu .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-sY2jSjWXlu .carousel-item .wrap-img {
  text-align: center;
}
.cid-sY2jSjWXlu .carousel-item .wrap-img img {
  transition: all 0.3s;
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-sY2jSjWXlu .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sY2jSjWXlu .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-sY2jSjWXlu .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-sY2jSjWXlu .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-sY2jSjWXlu .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-sY2jSjWXlu .cloneditem-1,
.cid-sY2jSjWXlu .cloneditem-2,
.cid-sY2jSjWXlu .cloneditem-3,
.cid-sY2jSjWXlu .cloneditem-4,
.cid-sY2jSjWXlu .cloneditem-5 {
  display: none;
}
.cid-sY2jSjWXlu .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sY2jSjWXlu .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-sY2jSjWXlu .carousel-inner {
    opacity: 0.8;
  }
  .cid-sY2jSjWXlu .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides2 .cloneditem-1,
  .cid-sY2jSjWXlu .carousel-inner.slides2 .cloneditem-2,
  .cid-sY2jSjWXlu .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-sY2jSjWXlu .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides3 .cloneditem-1,
  .cid-sY2jSjWXlu .carousel-inner.slides3 .cloneditem-2,
  .cid-sY2jSjWXlu .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-sY2jSjWXlu .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides4 .cloneditem-1,
  .cid-sY2jSjWXlu .carousel-inner.slides4 .cloneditem-2,
  .cid-sY2jSjWXlu .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-sY2jSjWXlu .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides5 .cloneditem-1,
  .cid-sY2jSjWXlu .carousel-inner.slides5 .cloneditem-2,
  .cid-sY2jSjWXlu .carousel-inner.slides5 .cloneditem-3,
  .cid-sY2jSjWXlu .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-sY2jSjWXlu .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides6 .cloneditem-1,
  .cid-sY2jSjWXlu .carousel-inner.slides6 .cloneditem-2,
  .cid-sY2jSjWXlu .carousel-inner.slides6 .cloneditem-3,
  .cid-sY2jSjWXlu .carousel-inner.slides6 .cloneditem-4,
  .cid-sY2jSjWXlu .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-sY2jSjWXlu H2 {
  color: #57468b;
}
.cid-sY2jSjWXlu .carousel-control-prev {
  position: absolute!important;
  left: -50px !important;
}
.cid-sY2jSjWXlu .carousel-control-next {
  position: absolute!important;
  right: -50px !important;
}
@media (max-width: 576px) {
  .cid-sY2jSjWXlu .carousel-control-prev {
    left: -10px !important;
  }
  .cid-sY2jSjWXlu .carousel-control-next {
    right: -10px !important;
  }
}
.cid-te3CNPzgme {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #232323;
}
.cid-te3CNPzgme .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-te3CNPzgme .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-te3CNPzgme .row {
    text-align: center;
  }
  .cid-te3CNPzgme .row > div {
    margin: auto;
  }
  .cid-te3CNPzgme .social-row {
    justify-content: center;
  }
}
.cid-te3CNPzgme .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-te3CNPzgme .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-te3CNPzgme .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-te3CNPzgme .list {
    margin-bottom: 0rem;
  }
}
.cid-te3CNPzgme .mbr-text {
  color: #bbbbbb;
}
.cid-te3CNPzgme .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-te3CNPzgme .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-te3CNPzgme div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-t8SRVa7gdn {
  padding-top: 10rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/fo7200aefec47-1-2000x1414.png");
}
.cid-t8SRVa7gdn .row {
  align-items: center;
}
.cid-t8SRVa7gdn .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cid-t8SRVa7gdn .header-text {
  width: 100%;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .cid-t8SRVa7gdn .header-text {
    margin-bottom: 20px;
  }
}
.cid-t8SRVa7gdn .mbr-section-title {
  width: 100%;
  color: #ff9966;
  margin-bottom: 0;
  text-align: right;
}
.cid-t8SRVa7gdn .mbr-text {
  color: #ffffff;
  width: 100%;
  margin-bottom: 0;
  margin-top: 12px;
}
.cid-t8SRVa7gdn .mbr-text,
.cid-t8SRVa7gdn .mbr-section-btn {
  text-align: right;
}
.cid-t8SLd4Abub {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-t8SLd4Abub .mbr-section-subtitle {
  color: #232323;
  text-align: right;
  font-weight: 300;
}
.cid-t8SLd4Abub .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #ff9966;
  margin-right: 2rem;
  border-radius: 40px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.cid-t8SLd4Abub .timeline-text-content p {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .cid-t8SLd4Abub .timeline-text-content {
    padding: 1.5rem 0.5rem;
  }
}
.cid-t8SLd4Abub .mbr-timeline-title,
.cid-t8SLd4Abub .mbr-timeline-text {
  color: #ffffff;
}
.cid-t8SLd4Abub .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.cid-t8SLd4Abub .timeline-element:hover .timeline-text-content {
  -webkit-box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08) !important;
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08) !important;
  -webkit-transition: all 0.4s !important;
  transition: all 0.4s !important;
}
.cid-t8SLd4Abub .timeline-element:hover .timeline-text-content h4,
.cid-t8SLd4Abub .timeline-element:hover .timeline-text-content p {
  -webkit-transition: color 1s !important;
  transition: color 1s !important;
  color: #000000 !important;
}
.cid-t8SLd4Abub .timeline-element:hover .iconsBackground span {
  -webkit-transition: color 1s !important;
  transition: color 1s !important;
  color: #000000 !important;
}
.cid-t8SLd4Abub .timeline-element:hover:before {
  -webkit-transition: background-color 1s !important;
  transition: background-color 1s !important;
  background-color: #000000 !important;
}
.cid-t8SLd4Abub .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-t8SLd4Abub .reverse .timeline-text-content {
  margin-left: 2rem;
  margin-right: 0;
}
.cid-t8SLd4Abub .iconsBackground {
  position: absolute;
  left: 50%;
  width: 60px;
  height: 60px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: #ff9966;
  top: 20px;
  margin-left: -30px;
}
.cid-t8SLd4Abub .iconsBackground span {
  color: #ffffff;
}
.cid-t8SLd4Abub .mbr-iconfont {
  position: absolute;
  text-align: center;
  font-size: 35px;
  display: inline-block;
  z-index: 3;
  top: 13px;
  left: 13px;
}
.cid-t8SLd4Abub .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #ff9966;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
.cid-t8SLd4Abub .reverseTimeline {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
@media (max-width: 768px) {
  .cid-t8SLd4Abub .iconsBackground {
    left: 1.5rem;
  }
  .cid-t8SLd4Abub .separline:before {
    left: calc(1.5rem - 1px);
  }
  .cid-t8SLd4Abub .timeline-text-content {
    margin-left: 3rem !important;
    margin-right: 0 !important;
  }
  .cid-t8SLd4Abub .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-t8SLd4Abub .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-t8SLd4Abub .mbr-section-title {
  color: #ff9966;
  text-align: right;
}
.cid-t8SMZPqkvB {
  padding-top: 105px;
  padding-bottom: 0px;
  background-color: #ff9966;
}
.cid-t8SMZPqkvB .header-text {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
@media (min-width: 1400px) {
  .cid-t8SMZPqkvB .col-12 {
    padding: 0 2rem;
  }
  .cid-t8SMZPqkvB .row {
    margin: 0 -2rem;
  }
}
.cid-t8SMZPqkvB .svg-top {
  width: 100%;
  position: absolute;
  left: 0;
  top: -48px;
  height: 50px;
  transform-origin: bottom;
  animation: 1.5s ease-in-out infinite alternate svg-wave;
  fill: #ffffff;
}
.cid-t8SMZPqkvB .svg-top .st0 {
  fill: #ff9966;
}
@media (max-width: 992px) {
  .cid-t8SMZPqkvB .svg-top {
    width: 1000px;
  }
}
.cid-t8SMZPqkvB .card-header {
  border-bottom: 2px solid currentColor;
  margin-bottom: 0px!important;
}
.cid-t8SMZPqkvB .mbr-iconfont {
  font-size: 1.5rem;
}
.cid-t8SMZPqkvB span {
  transform: rotate(45deg);
  transition: all 0.3s;
}
.cid-t8SMZPqkvB .collapsed span {
  transform: rotate(0deg);
}
.cid-t8SMZPqkvB .accordion-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.cid-t8SMZPqkvB .panel-group {
  width: 100%;
}
.cid-t8SMZPqkvB .sign {
  color: currentColor;
  font-family: 'Moririse2' !important;
}
.cid-t8SMZPqkvB .card {
  border-radius: 0px;
}
.cid-t8SMZPqkvB .card .card-header {
  border-radius: 0px;
  padding: 0;
  background-color: transparent;
}
.cid-t8SMZPqkvB .card .card-header a.panel-title {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  transition: all .3s;
  margin-bottom: 0;
  font-style: normal;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none !important;
  line-height: normal;
}
.cid-t8SMZPqkvB .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-t8SMZPqkvB .card .card-header a.panel-title h4 {
  padding: 1.5rem 1rem 13px 0px;
  margin-bottom: 0;
}
.cid-t8SMZPqkvB .panel-text {
  color: #ffffff;
}
.cid-t8SMZPqkvB .header-text,
.cid-t8SMZPqkvB .sign {
  color: #263d5a;
}
.cid-t8SMZPqkvB .mbr-section-title {
  color: #ffffff;
}
.cid-t8SMZPqkvB .header-text,
.cid-t8SMZPqkvB .sign,
.cid-t8SMZPqkvB .card-header {
  color: #ffffff;
}
.cid-t8SMZPqkvB .mbr-section-subtitle {
  color: #263d5a;
}
.cid-t8SMZPqkvB P {
  color: #ffffff;
}
.cid-tdpiG42M25 {
  z-index: 1000;
  width: 100%;
}
.cid-tdpiG42M25 nav.navbar {
  position: fixed;
}
.cid-tdpiG42M25 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tdpiG42M25 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tdpiG42M25 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tdpiG42M25 .dropdown-item:hover,
.cid-tdpiG42M25 .dropdown-item:focus {
  background: #ffffff !important;
  color: white !important;
}
.cid-tdpiG42M25 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tdpiG42M25 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tdpiG42M25 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tdpiG42M25 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tdpiG42M25 .nav-link {
  position: relative;
}
.cid-tdpiG42M25 .container {
  display: flex;
  margin: auto;
}
.cid-tdpiG42M25 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tdpiG42M25 .dropdown-menu,
.cid-tdpiG42M25 .navbar.opened {
  background: #353535 !important;
}
.cid-tdpiG42M25 .nav-item:focus,
.cid-tdpiG42M25 .nav-link:focus {
  outline: none;
}
.cid-tdpiG42M25 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tdpiG42M25 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tdpiG42M25 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tdpiG42M25 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tdpiG42M25 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tdpiG42M25 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tdpiG42M25 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(53, 53, 53, 0);
}
.cid-tdpiG42M25 .navbar.opened {
  transition: all 0.3s;
}
.cid-tdpiG42M25 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tdpiG42M25 .navbar .navbar-logo img {
  width: auto;
}
.cid-tdpiG42M25 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tdpiG42M25 .navbar.collapsed {
  justify-content: center;
}
.cid-tdpiG42M25 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tdpiG42M25 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tdpiG42M25 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tdpiG42M25 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tdpiG42M25 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tdpiG42M25 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tdpiG42M25 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tdpiG42M25 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tdpiG42M25 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tdpiG42M25 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tdpiG42M25 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tdpiG42M25 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tdpiG42M25 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tdpiG42M25 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tdpiG42M25 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tdpiG42M25 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tdpiG42M25 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tdpiG42M25 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tdpiG42M25 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tdpiG42M25 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tdpiG42M25 .navbar.navbar-short {
  min-height: 60px;
}
.cid-tdpiG42M25 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tdpiG42M25 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tdpiG42M25 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tdpiG42M25 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tdpiG42M25 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tdpiG42M25 .dropdown-item.active,
.cid-tdpiG42M25 .dropdown-item:active {
  background-color: transparent;
}
.cid-tdpiG42M25 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tdpiG42M25 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tdpiG42M25 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tdpiG42M25 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #353535;
}
.cid-tdpiG42M25 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tdpiG42M25 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tdpiG42M25 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tdpiG42M25 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tdpiG42M25 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tdpiG42M25 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tdpiG42M25 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tdpiG42M25 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tdpiG42M25 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tdpiG42M25 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tdpiG42M25 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tdpiG42M25 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tdpiG42M25 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tdpiG42M25 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tdpiG42M25 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tdpiG42M25 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tdpiG42M25 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tdpiG42M25 .navbar {
    height: 70px;
  }
  .cid-tdpiG42M25 .navbar.opened {
    height: auto;
  }
  .cid-tdpiG42M25 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-te3CNPzgme {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #232323;
}
.cid-te3CNPzgme .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-te3CNPzgme .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-te3CNPzgme .row {
    text-align: center;
  }
  .cid-te3CNPzgme .row > div {
    margin: auto;
  }
  .cid-te3CNPzgme .social-row {
    justify-content: center;
  }
}
.cid-te3CNPzgme .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-te3CNPzgme .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-te3CNPzgme .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-te3CNPzgme .list {
    margin-bottom: 0rem;
  }
}
.cid-te3CNPzgme .mbr-text {
  color: #bbbbbb;
}
.cid-te3CNPzgme .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-te3CNPzgme .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-te3CNPzgme div > *:last-child {
    margin-top: 0 !important;
  }
}
