@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Epilogue', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.375rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: #d4d4d4 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #000000 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #cccccc !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ffffff;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffffff !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #ffffff;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #000000 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-t06duiR6sK {
  background-image: url("../../../assets/images/fo7200aefec47-1-2000x1414.png");
}
.cid-t06duiR6sK .mbr-section-title {
  color: #ffffff;
}
.cid-t06duiR6sK .mbr-section-subtitle {
  color: #ff9966;
}
.cid-t06duiR6sK .mbr-text,
.cid-t06duiR6sK .mbr-section-btn {
  color: #ffffff;
}
.cid-sY2jSjWXlu {
  padding-top: 30px;
  padding-bottom: 195px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.cid-sY2jSjWXlu svg {
  position: absolute;
  bottom: -9.5rem;
  left: 50%;
  transform: translate(-50%) scaleX(-2) rotate(-12deg);
  filter: fliph;
  animation: wave2 5s ease-in-out infinite;
}
@keyframes wave2 {
  from {
    transform: translate(-50%) scaleX(-2) rotate(-10deg);
  }
  50% {
    transform: translate(-50%) scaleX(-2.2) scaleY(1.1) rotate(-13deg);
  }
  to {
    transform: translate(-50%) scaleX(-2) rotate(-10deg);
  }
}
.cid-sY2jSjWXlu #e12_areaS3 {
  fill: #ffffff !important;
}
.cid-sY2jSjWXlu #e19_areaS3 {
  fill: #ff9966 !important;
}
.cid-sY2jSjWXlu .carousel-control {
  background: #000;
  opacity: 0.2;
}
.cid-sY2jSjWXlu .carousel {
  width: 80%;
  margin: auto;
}
.cid-sY2jSjWXlu .mbr-section-subtitle {
  color: #716c80;
}
.cid-sY2jSjWXlu .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sY2jSjWXlu .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-sY2jSjWXlu .carousel-item .wrap-img {
  text-align: center;
}
.cid-sY2jSjWXlu .carousel-item .wrap-img img {
  transition: all 0.3s;
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-sY2jSjWXlu .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sY2jSjWXlu .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-sY2jSjWXlu .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-sY2jSjWXlu .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-sY2jSjWXlu .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-sY2jSjWXlu .cloneditem-1,
.cid-sY2jSjWXlu .cloneditem-2,
.cid-sY2jSjWXlu .cloneditem-3,
.cid-sY2jSjWXlu .cloneditem-4,
.cid-sY2jSjWXlu .cloneditem-5 {
  display: none;
}
.cid-sY2jSjWXlu .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sY2jSjWXlu .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-sY2jSjWXlu .carousel-inner {
    opacity: 0.8;
  }
  .cid-sY2jSjWXlu .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides2 .cloneditem-1,
  .cid-sY2jSjWXlu .carousel-inner.slides2 .cloneditem-2,
  .cid-sY2jSjWXlu .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-sY2jSjWXlu .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides3 .cloneditem-1,
  .cid-sY2jSjWXlu .carousel-inner.slides3 .cloneditem-2,
  .cid-sY2jSjWXlu .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-sY2jSjWXlu .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides4 .cloneditem-1,
  .cid-sY2jSjWXlu .carousel-inner.slides4 .cloneditem-2,
  .cid-sY2jSjWXlu .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-sY2jSjWXlu .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides5 .cloneditem-1,
  .cid-sY2jSjWXlu .carousel-inner.slides5 .cloneditem-2,
  .cid-sY2jSjWXlu .carousel-inner.slides5 .cloneditem-3,
  .cid-sY2jSjWXlu .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-sY2jSjWXlu .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-sY2jSjWXlu .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sY2jSjWXlu .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sY2jSjWXlu .carousel-inner.slides6 .cloneditem-1,
  .cid-sY2jSjWXlu .carousel-inner.slides6 .cloneditem-2,
  .cid-sY2jSjWXlu .carousel-inner.slides6 .cloneditem-3,
  .cid-sY2jSjWXlu .carousel-inner.slides6 .cloneditem-4,
  .cid-sY2jSjWXlu .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-sY2jSjWXlu H2 {
  color: #57468b;
}
.cid-sY2jSjWXlu .carousel-control-prev {
  position: absolute!important;
  left: -50px !important;
}
.cid-sY2jSjWXlu .carousel-control-next {
  position: absolute!important;
  right: -50px !important;
}
@media (max-width: 576px) {
  .cid-sY2jSjWXlu .carousel-control-prev {
    left: -10px !important;
  }
  .cid-sY2jSjWXlu .carousel-control-next {
    right: -10px !important;
  }
}
.cid-sZOBggxkva {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ff9966;
}
.cid-t06iJCvKjg.popup-builder {
  background-color: #ffffff;
}
.cid-t06iJCvKjg.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-t06iJCvKjg.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-t06iJCvKjg .modal-content,
.cid-t06iJCvKjg .modal-dialog {
  height: auto;
}
.cid-t06iJCvKjg .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-t06iJCvKjg .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-t06iJCvKjg .form-wrapper .mbr-form .form-group,
  .cid-t06iJCvKjg .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-t06iJCvKjg .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-t06iJCvKjg .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-t06iJCvKjg .mbr-text {
  text-align: center;
}
.cid-t06iJCvKjg .pt-0 {
  padding-top: 0 !important;
}
.cid-t06iJCvKjg .pb-0 {
  padding-bottom: 0 !important;
}
.cid-t06iJCvKjg .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-t06iJCvKjg .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-t06iJCvKjg .modal-open {
  overflow: hidden;
}
.cid-t06iJCvKjg .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-t06iJCvKjg .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-t06iJCvKjg .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-t06iJCvKjg .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-t06iJCvKjg .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-t06iJCvKjg .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-t06iJCvKjg .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-t06iJCvKjg .modal-content {
  background: #ff9966;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-t06iJCvKjg .margin-center-pos {
  margin-top: auto;
  margin-bottom: auto;
}
.cid-t06iJCvKjg .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-t06iJCvKjg .modal-backdrop.fade {
  opacity: 0;
}
.cid-t06iJCvKjg .modal-backdrop.show {
  opacity: .5;
}
.cid-t06iJCvKjg .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-t06iJCvKjg .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-t06iJCvKjg .modal-header {
    padding: 1rem;
  }
}
.cid-t06iJCvKjg .modal-header .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-t06iJCvKjg .modal-header .close svg {
  fill: #353535;
}
.cid-t06iJCvKjg .modal-header .close:hover {
  opacity: 1;
}
.cid-t06iJCvKjg .modal-header .close:focus {
  outline: none;
}
.cid-t06iJCvKjg .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #ffffff;
}
.cid-t06iJCvKjg .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  .cid-t06iJCvKjg .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-t06iJCvKjg .modal-body {
    padding: 1rem;
  }
}
.cid-t06iJCvKjg .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-t06iJCvKjg .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-t06iJCvKjg .modal-footer {
    padding: 1rem;
  }
}
.cid-t06iJCvKjg .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-t06iJCvKjg .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-t06iJCvKjg .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-t06iJCvKjg .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-t06iJCvKjg .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .cid-t06iJCvKjg .modal-lg,
  .cid-t06iJCvKjg .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .cid-t06iJCvKjg .modal-xl {
    max-width: 1140px;
  }
}
.cid-t06iJCvKjg .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-t06iJCvKjg .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-t06iJCvKjg .form-group {
  margin-bottom: 1rem;
}
.cid-t06iJCvKjg .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-t06iJCvKjg .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-t06iJCvKjg .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-t06iJCvKjg .mbr-section-btn {
  margin: 0;
}
.cid-t06iJCvKjg .mbr-section-btn .btn {
  margin: 0;
}
.cid-sYxxvlLIRv .navbar-dropdown {
  position: relative !important;
}
.cid-sYxxvlLIRv .navbar-dropdown {
  position: absolute !important;
}
.cid-sYxxvlLIRv .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sYxxvlLIRv .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sYxxvlLIRv .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sYxxvlLIRv .dropdown-item:hover,
.cid-sYxxvlLIRv .dropdown-item:focus {
  background: #ffffff !important;
  color: white !important;
}
.cid-sYxxvlLIRv .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sYxxvlLIRv .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sYxxvlLIRv .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sYxxvlLIRv .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sYxxvlLIRv .nav-link {
  position: relative;
}
.cid-sYxxvlLIRv .container {
  display: flex;
  margin: auto;
}
.cid-sYxxvlLIRv .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sYxxvlLIRv .dropdown-menu,
.cid-sYxxvlLIRv .navbar.opened {
  background: #ff9966 !important;
}
.cid-sYxxvlLIRv .nav-item:focus,
.cid-sYxxvlLIRv .nav-link:focus {
  outline: none;
}
.cid-sYxxvlLIRv .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sYxxvlLIRv .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sYxxvlLIRv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sYxxvlLIRv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sYxxvlLIRv .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sYxxvlLIRv .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sYxxvlLIRv .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 153, 102, 0);
}
.cid-sYxxvlLIRv .navbar.opened {
  transition: all 0.3s;
}
.cid-sYxxvlLIRv .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sYxxvlLIRv .navbar .navbar-logo img {
  width: auto;
}
.cid-sYxxvlLIRv .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sYxxvlLIRv .navbar.collapsed {
  justify-content: center;
}
.cid-sYxxvlLIRv .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sYxxvlLIRv .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sYxxvlLIRv .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 8rem);
  }
}
.cid-sYxxvlLIRv .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sYxxvlLIRv .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sYxxvlLIRv .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sYxxvlLIRv .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sYxxvlLIRv .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sYxxvlLIRv .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sYxxvlLIRv .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sYxxvlLIRv .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sYxxvlLIRv .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sYxxvlLIRv .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sYxxvlLIRv .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sYxxvlLIRv .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sYxxvlLIRv .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sYxxvlLIRv .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sYxxvlLIRv .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sYxxvlLIRv .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sYxxvlLIRv .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sYxxvlLIRv .navbar.navbar-short {
  min-height: 60px;
}
.cid-sYxxvlLIRv .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sYxxvlLIRv .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sYxxvlLIRv .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sYxxvlLIRv .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sYxxvlLIRv .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sYxxvlLIRv .dropdown-item.active,
.cid-sYxxvlLIRv .dropdown-item:active {
  background-color: transparent;
}
.cid-sYxxvlLIRv .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sYxxvlLIRv .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sYxxvlLIRv .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sYxxvlLIRv .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ff9966;
}
.cid-sYxxvlLIRv .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sYxxvlLIRv .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sYxxvlLIRv ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sYxxvlLIRv .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sYxxvlLIRv button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sYxxvlLIRv button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sYxxvlLIRv button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sYxxvlLIRv button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sYxxvlLIRv button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sYxxvlLIRv button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sYxxvlLIRv nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sYxxvlLIRv nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sYxxvlLIRv nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sYxxvlLIRv nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sYxxvlLIRv .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sYxxvlLIRv a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sYxxvlLIRv .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sYxxvlLIRv .navbar {
    height: 70px;
  }
  .cid-sYxxvlLIRv .navbar.opened {
    height: auto;
  }
  .cid-sYxxvlLIRv .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sYoKGMitkP {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sYoKGMitkP .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #ffffff;
  margin-left: 1rem;
}
.cid-sYoKGMitkP .panel-group {
  border: none;
}
.cid-sYoKGMitkP .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sYoKGMitkP .panel-body,
.cid-sYoKGMitkP .card-header {
  padding: 1rem 0;
}
.cid-sYoKGMitkP .panel-title-edit {
  color: #000000;
}
.cid-sYoKGMitkP .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sYoKGMitkP H4 {
  color: #000000;
}
.cid-sYoKGMitkP H3 {
  color: #ff9966;
}
.cid-sYoKGMitkP DIV {
  text-align: left;
}
.cid-sYoKGMitkP P {
  text-align: center;
}
.cid-sYoKGMitkP .panel-text {
  text-align: left;
}
.cid-sYxwrg3iln {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sYxwrg3iln .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #ffffff;
  margin-left: 1rem;
}
.cid-sYxwrg3iln .panel-group {
  border: none;
}
.cid-sYxwrg3iln .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sYxwrg3iln .panel-body,
.cid-sYxwrg3iln .card-header {
  padding: 1rem 0;
}
.cid-sYxwrg3iln .panel-title-edit {
  color: #000000;
}
.cid-sYxwrg3iln .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sYxxvlLIRv .navbar-dropdown {
  position: relative !important;
}
.cid-sYxxvlLIRv .navbar-dropdown {
  position: absolute !important;
}
.cid-sYxxvlLIRv .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sYxxvlLIRv .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sYxxvlLIRv .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sYxxvlLIRv .dropdown-item:hover,
.cid-sYxxvlLIRv .dropdown-item:focus {
  background: #ffffff !important;
  color: white !important;
}
.cid-sYxxvlLIRv .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sYxxvlLIRv .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sYxxvlLIRv .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sYxxvlLIRv .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sYxxvlLIRv .nav-link {
  position: relative;
}
.cid-sYxxvlLIRv .container {
  display: flex;
  margin: auto;
}
.cid-sYxxvlLIRv .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sYxxvlLIRv .dropdown-menu,
.cid-sYxxvlLIRv .navbar.opened {
  background: #ff9966 !important;
}
.cid-sYxxvlLIRv .nav-item:focus,
.cid-sYxxvlLIRv .nav-link:focus {
  outline: none;
}
.cid-sYxxvlLIRv .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sYxxvlLIRv .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sYxxvlLIRv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sYxxvlLIRv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sYxxvlLIRv .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sYxxvlLIRv .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sYxxvlLIRv .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 153, 102, 0);
}
.cid-sYxxvlLIRv .navbar.opened {
  transition: all 0.3s;
}
.cid-sYxxvlLIRv .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sYxxvlLIRv .navbar .navbar-logo img {
  width: auto;
}
.cid-sYxxvlLIRv .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sYxxvlLIRv .navbar.collapsed {
  justify-content: center;
}
.cid-sYxxvlLIRv .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sYxxvlLIRv .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sYxxvlLIRv .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 8rem);
  }
}
.cid-sYxxvlLIRv .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sYxxvlLIRv .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sYxxvlLIRv .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sYxxvlLIRv .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sYxxvlLIRv .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sYxxvlLIRv .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sYxxvlLIRv .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sYxxvlLIRv .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sYxxvlLIRv .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sYxxvlLIRv .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sYxxvlLIRv .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sYxxvlLIRv .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sYxxvlLIRv .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sYxxvlLIRv .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sYxxvlLIRv .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sYxxvlLIRv .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sYxxvlLIRv .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sYxxvlLIRv .navbar.navbar-short {
  min-height: 60px;
}
.cid-sYxxvlLIRv .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sYxxvlLIRv .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sYxxvlLIRv .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sYxxvlLIRv .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sYxxvlLIRv .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sYxxvlLIRv .dropdown-item.active,
.cid-sYxxvlLIRv .dropdown-item:active {
  background-color: transparent;
}
.cid-sYxxvlLIRv .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sYxxvlLIRv .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sYxxvlLIRv .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sYxxvlLIRv .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ff9966;
}
.cid-sYxxvlLIRv .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sYxxvlLIRv .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sYxxvlLIRv ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sYxxvlLIRv .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sYxxvlLIRv button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sYxxvlLIRv button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sYxxvlLIRv button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sYxxvlLIRv button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sYxxvlLIRv button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sYxxvlLIRv button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sYxxvlLIRv nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sYxxvlLIRv nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sYxxvlLIRv nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sYxxvlLIRv nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sYxxvlLIRv .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sYxxvlLIRv a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sYxxvlLIRv .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sYxxvlLIRv .navbar {
    height: 70px;
  }
  .cid-sYxxvlLIRv .navbar.opened {
    height: auto;
  }
  .cid-sYxxvlLIRv .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sZOBggxkva {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ff9966;
}
