.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Epilogue', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.375rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ff9900 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #21bf54 !important;
}
.bg-warning {
  background-color: #ff9900 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff9900 !important;
  border-color: #ff9900 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #a86500 !important;
  border-color: #a86500 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a86500 !important;
  border-color: #a86500 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #585252 !important;
  border-color: #585252 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #2b2828 !important;
  border-color: #2b2828 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #2b2828 !important;
  border-color: #2b2828 !important;
}
.btn-info,
.btn-info:active {
  background-color: #21bf54 !important;
  border-color: #21bf54 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #147533 !important;
  border-color: #147533 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #147533 !important;
  border-color: #147533 !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ff9900 !important;
  border-color: #ff9900 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #a86500 !important;
  border-color: #a86500 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a86500 !important;
  border-color: #a86500 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #ff9900;
  color: #ff9900;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a86500 !important;
  background-color: transparent!important;
  border-color: #a86500 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9900 !important;
  border-color: #ff9900 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #585252;
  color: #585252;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #2b2828 !important;
  background-color: transparent!important;
  border-color: #2b2828 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #585252 !important;
  border-color: #585252 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #21bf54;
  color: #21bf54;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #147533 !important;
  background-color: transparent!important;
  border-color: #147533 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #21bf54 !important;
  border-color: #21bf54 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ff9900;
  color: #ff9900;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #a86500 !important;
  background-color: transparent!important;
  border-color: #a86500 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9900 !important;
  border-color: #ff9900 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ff9900 !important;
}
.text-secondary {
  color: #585252 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #21bf54 !important;
}
.text-warning {
  color: #ff9900 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #995c00 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #232121 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #12682e !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #995c00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ff9900;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #21bf54;
}
.alert-warning {
  background-color: #ff9900;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff9900;
  border-color: #ff9900;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ff9900;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffebcc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #78e89c;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffebcc;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ff9900 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #ff9900;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff9900;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ff9900;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff9900;
  border-bottom-color: #ff9900;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ff9900 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #585252 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff9900' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tEzpbRAGCJ {
  z-index: 1000;
  width: 100%;
}
.cid-tEzpbRAGCJ nav.navbar {
  position: fixed;
}
.cid-tEzpbRAGCJ .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tEzpbRAGCJ .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tEzpbRAGCJ .dropdown-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: .4s all !important;
}
.cid-tEzpbRAGCJ .dropdown-item:hover,
.cid-tEzpbRAGCJ .dropdown-item:focus {
  background: rgba(33, 191, 84, 0.5) !important;
  color: white !important;
}
.cid-tEzpbRAGCJ .dropdown-item:hover span {
  color: white;
}
.cid-tEzpbRAGCJ .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tEzpbRAGCJ .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tEzpbRAGCJ .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
  text-align: center;
}
.cid-tEzpbRAGCJ .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tEzpbRAGCJ .nav-link {
  position: relative;
}
.cid-tEzpbRAGCJ .container {
  display: flex;
  margin: auto;
  max-width: 1600px;
}
.cid-tEzpbRAGCJ .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: 0 !important;
}
.cid-tEzpbRAGCJ .iconfont-wrapper .mbr-iconfont {
  transition: .4s all;
}
.cid-tEzpbRAGCJ .iconfont-wrapper:hover .mbr-iconfont {
  color: #ff9900;
}
.cid-tEzpbRAGCJ .dropdown-menu,
.cid-tEzpbRAGCJ .navbar.opened {
  background: #1a2229 !important;
}
.cid-tEzpbRAGCJ .nav-item:focus,
.cid-tEzpbRAGCJ .nav-link:focus {
  outline: none;
}
.cid-tEzpbRAGCJ .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tEzpbRAGCJ .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tEzpbRAGCJ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tEzpbRAGCJ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tEzpbRAGCJ .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tEzpbRAGCJ .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tEzpbRAGCJ .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(26, 34, 41, 0);
  padding: 0 !important;
}
.cid-tEzpbRAGCJ .navbar.opened {
  transition: all 0.3s;
}
.cid-tEzpbRAGCJ .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tEzpbRAGCJ .navbar .navbar-logo img {
  width: auto;
}
.cid-tEzpbRAGCJ .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tEzpbRAGCJ .navbar.collapsed {
  justify-content: center;
}
.cid-tEzpbRAGCJ .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tEzpbRAGCJ .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tEzpbRAGCJ .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tEzpbRAGCJ .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tEzpbRAGCJ .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tEzpbRAGCJ .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tEzpbRAGCJ .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tEzpbRAGCJ .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tEzpbRAGCJ .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tEzpbRAGCJ .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tEzpbRAGCJ .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tEzpbRAGCJ .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tEzpbRAGCJ .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tEzpbRAGCJ .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tEzpbRAGCJ .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tEzpbRAGCJ .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-tEzpbRAGCJ .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tEzpbRAGCJ .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tEzpbRAGCJ .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: flex-start;
  margin-right: 0;
  padding: 0 !important;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.cid-tEzpbRAGCJ .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tEzpbRAGCJ .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tEzpbRAGCJ .dropdown-item.active,
.cid-tEzpbRAGCJ .dropdown-item:active {
  background-color: transparent;
}
.cid-tEzpbRAGCJ .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tEzpbRAGCJ .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tEzpbRAGCJ .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tEzpbRAGCJ .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #1a2229;
}
.cid-tEzpbRAGCJ .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tEzpbRAGCJ .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tEzpbRAGCJ ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tEzpbRAGCJ .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tEzpbRAGCJ button.navbar-toggler {
  outline: none;
  width: 26px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tEzpbRAGCJ button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 25px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tEzpbRAGCJ button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tEzpbRAGCJ button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tEzpbRAGCJ button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tEzpbRAGCJ button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tEzpbRAGCJ nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tEzpbRAGCJ nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tEzpbRAGCJ nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tEzpbRAGCJ nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tEzpbRAGCJ .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tEzpbRAGCJ a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tEzpbRAGCJ .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tEzpbRAGCJ .navbar {
    height: 70px;
  }
  .cid-tEzpbRAGCJ .navbar.opened {
    height: auto;
  }
  .cid-tEzpbRAGCJ .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tEzpbRAGCJ .header-item {
  width: 33.33333333%;
  padding: 10px 0;
}
.cid-tEzpbRAGCJ .navbar-toggler {
  margin-left: 10px;
}
.cid-tEzpbRAGCJ .hamburger-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 20px);
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #b84358;
}
.cid-tEzpbRAGCJ .navbar-logo {
  margin-right: 0 !important;
}
.cid-tEzpbRAGCJ .mbr-text {
  width: 100%;
  color: #BF9341;
}
@media (max-width: 575px) {
  .cid-tEzpbRAGCJ .mbr-text {
    display: none;
  }
}
.cid-tEzpbRAGCJ .navbar-collapse {
  padding-top: 40px !important;
}
.cid-tEzpbRAGCJ .mbr-section-btn {
  margin-top: 10px;
}
@media (max-width: 575px) {
  .cid-tEzpbRAGCJ .mbr-section-btn {
    display: flex;
    flex-wrap: wrap;
  }
}
.cid-tEywdvI7ol {
  background-image: url("../../../assets/images/fo7200aefec47-1-2000x1414.png");
}
.cid-tEywdvI7ol .mbr-fallback-image.disabled {
  display: none;
}
.cid-tEywdvI7ol .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tEywdvI7ol .container,
.cid-tEywdvI7ol .container-fluid {
  position: relative;
  padding: 0 60px;
}
@media (max-width: 992px) {
  .cid-tEywdvI7ol .container,
  .cid-tEywdvI7ol .container-fluid {
    padding: 0 20px;
  }
}
.cid-tEywdvI7ol .container .decor-wrapper,
.cid-tEywdvI7ol .container-fluid .decor-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 992px) {
  .cid-tEywdvI7ol .container .decor-wrapper,
  .cid-tEywdvI7ol .container-fluid .decor-wrapper {
    display: none;
  }
}
.cid-tEywdvI7ol .container .decor-wrapper .decor,
.cid-tEywdvI7ol .container-fluid .decor-wrapper .decor {
  border: 0.5px solid #ff9900;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  height: 30%;
  width: 190px;
  margin-right: 30px;
}
.cid-tEywdvI7ol .container .decor-wrapper .decor:first-child,
.cid-tEywdvI7ol .container-fluid .decor-wrapper .decor:first-child {
  height: 50%;
}
.cid-tEywdvI7ol .container .decor-wrapper .decor:last-child,
.cid-tEywdvI7ol .container-fluid .decor-wrapper .decor:last-child {
  height: 20%;
}
.cid-tEywdvI7ol .row {
  justify-content: space-between;
}
.cid-tEywdvI7ol .title-wrapper {
  position: relative;
  z-index: 1;
}
.cid-tEywdvI7ol .title-wrapper .mbr-section-title {
  margin-bottom: 85px;
}
@media (max-width: 992px) {
  .cid-tEywdvI7ol .title-wrapper .mbr-section-title {
    margin-bottom: 50px;
  }
}
.cid-tEywdvI7ol .card {
  position: relative;
  z-index: 1;
}
@media (max-width: 992px) {
  .cid-tEywdvI7ol .card {
    margin-bottom: 40px;
  }
}
.cid-tEywdvI7ol .card:nth-child(3n) {
  margin-top: 20%;
}
@media (max-width: 992px) {
  .cid-tEywdvI7ol .card:nth-child(3n) {
    margin-top: 0;
  }
}
.cid-tEywdvI7ol .card .card-wrapper {
  position: relative;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 80px 25px 40px 25px;
  overflow: hidden;
  -webkit-flex: inherit;
  background-color: #232323;
}
@media (max-width: 992px) {
  .cid-tEywdvI7ol .card .card-wrapper {
    padding: 77px 18px 40px;
  }
}
.cid-tEywdvI7ol .card .card-wrapper .card-desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.cid-tEywdvI7ol .card .card-wrapper .card-desc .mbr-desc {
  padding: 12.5px 42px;
  margin-bottom: 0;
  background-color: #ffffff;
  display: inline-block;
}
@media (max-width: 992px) {
  .cid-tEywdvI7ol .card .card-wrapper .card-desc .mbr-desc {
    padding: 12.5px;
  }
}
.cid-tEywdvI7ol .card .card-wrapper .card-icon .mbr-iconfont {
  font-size: 90px;
  color: #ff9900;
  display: inline-block;
  margin-bottom: 20px;
}
.cid-tEywdvI7ol .card .card-wrapper .card-text .mbr-card-title {
  margin-bottom: 15px;
}
.cid-tEywdvI7ol .card .card-wrapper .card-text .mbr-text {
  margin-bottom: 0;
}
.cid-tEywdvI7ol .mbr-section-title {
  color: #ffffff;
}
.cid-tEywdvI7ol .mbr-desc {
  color: #3d4045;
}
.cid-tEywdvI7ol .mbr-card-title {
  color: #ffffff;
}
.cid-tEywdvI7ol .mbr-text {
  color: #ffffff;
}
.cid-tEywdvI7ol .card-desc {
  text-align: right;
}
.cid-tEzshZaEn5 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tEzshZaEn5 img,
.cid-tEzshZaEn5 .item-img {
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-tEzshZaEn5 .item:focus,
.cid-tEzshZaEn5 span:focus {
  outline: none;
}
.cid-tEzshZaEn5 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tEzshZaEn5 .item-title {
  font-weight: 500;
  color: #ff9900;
}
.cid-tEzshZaEn5 .item-subtitle {
  margin-bottom: 1rem;
}
.cid-tEzshZaEn5 .item-wrapper {
  position: relative;
  background: #4479d9;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 991px) {
  .cid-tEzshZaEn5 .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tEzshZaEn5 .item-wrapper:hover .item-content {
  opacity: 1;
  z-index: 1;
}
.cid-tEzshZaEn5 .item-wrapper:hover .item-text-wrap {
  opacity: 1;
  transform: translateY(0);
}
.cid-tEzshZaEn5 .item-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4479d9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.3s ease-out;
}
.cid-tEzshZaEn5 .item-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition-delay: .3s;
}
.cid-tEzshZaEn5 .mbr-social-likes {
  display: flex;
  align-items: center;
}
.cid-tEzshZaEn5 .mbr-social-likes a {
  color: #ffffff;
}
.cid-tEzshZaEn5 .mbr-social-likes span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  width: 36px;
  height: 36px;
  margin-left: 0.4375rem;
  margin-right: 0.4375rem;
  transition: 0.3s ease-out;
}
.cid-tEzshZaEn5 .mbr-social-likes span:hover {
  border-color: #ff9900;
  color: #ff9900;
}
.cid-tEzshZaEn5 .mbr-section-tag {
  color: #9e9e9e;
  margin-bottom: 0.4375rem;
}
.cid-tEzshZaEn5 .mbr-section-title {
  margin-bottom: 1rem;
  color: #ff9900;
}
.cid-tEzshZaEn5 .mbr-section-title b:last-child,
.cid-tEzshZaEn5 .mbr-section-title strong:last-child {
  color: #ff9900;
}
.cid-tEzshZaEn5 .mbr-section-subtitle {
  margin-bottom: 0.625rem;
}
.cid-tEzshZaEn5 .features-items-wrap {
  margin-top: 3.3125rem;
  margin-bottom: 0;
}
.cid-tEzshZaEn5 .mbr-section-bottom {
  display: flex;
}
.cid-tEzshZaEn5 .bottom-text {
  margin-top: 1.25rem;
}
.cid-tEzshZaEn5 .item-features-image {
  margin-bottom: 3.125rem;
}
.is-builder .cid-tEzshZaEn5 .item-content {
  border-bottom-left-radius: 100px;
}
.cid-tEyxHA1g3w {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-tEyxHA1g3w .mbr-fallback-image.disabled {
  display: none;
}
.cid-tEyxHA1g3w .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tEyxHA1g3w .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tEyxHA1g3w .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tEyxHA1g3w .row {
    text-align: center;
  }
  .cid-tEyxHA1g3w .row > div {
    margin: auto;
  }
  .cid-tEyxHA1g3w .social-row {
    justify-content: center;
  }
}
.cid-tEyxHA1g3w .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-tEyxHA1g3w .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-tEyxHA1g3w .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tEyxHA1g3w .list {
    margin-bottom: 0rem;
  }
}
.cid-tEyxHA1g3w .mbr-text {
  color: #bbbbbb;
}
.cid-tEyxHA1g3w .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-tEyxHA1g3w .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-tEyxHA1g3w div > *:last-child {
    margin-top: 0 !important;
  }
}
